.todo-list {
    justify-self: center;
}

.todo-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.todo-info {
    width: 200px;
    border: 1px black solid;
    margin: 5px;

    &.finished {
        text-decoration-line: line-through;
    }
}