.todo-list {
    justify-self: center;
}

.todo-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}

.todo-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 5px;
}

.todo-delete {
    padding: 2px;
}

.todo-info {
    width: 200px;
    border: 1px black solid;
    margin-right: 8px;

    &.finished {
        text-decoration-line: line-through;
    }
}

.add-form {
    display: flex;
}
.add-input {
    margin-right: 8px;
}

.todo-add {
    background-color: lightskyblue;
    color: white;
}